TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_ACCESS_TOKEN=
TWITCH_REFRESH_TOKEN=
TWITCH_CHANNEL=
TWITCH_ADMINS= # comma separated
OPENAI_API_KEY=
OPENAI_IMAGES_PER_MINUTE=
OPENAI_MODEL=
DISCORD_BOT_TOKEN=
DISCORD_CHANNELS= # comma separated
DISCORD_ADMIN_USER_ID=
MAX_RETRIES=3
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_IMAGES_URL=
CLOUDFLARE_AI_GATEWAY=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
DB_CONNECT_TIMEOUT_MS=5000
INTERNAL_API_BEARER_TOKEN=
APP_PORT=3000
